<!DOCTYPE html>
<html>
  <head>
    <title>RubyRailsMysqlTemplate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.anychart.com/css/latest/anychart-ui.min.css" />
    <%= stylesheet_link_tag "style" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
